<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), crop: :fill">
  <div class="banner-content">
    <h1>Bienvenue sur SPPN</h1>
    <p>Le site qui regroupe les professionels de pleine nature</p>
    <a href="memberships#index" class="btn btn-primary btn-lg">Liste des Membres</a>
  </div>
</div>

<div class="container">
	<div class="row">	
		<div class="col-xs-12 col-sm-6 col-md-4">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptas earum necessitatibus quo debitis minus doloremque labore unde, modi, quos perspiciatis, sit minima quod dicta eius veniam officiis. Magni, odio!</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptas earum necessitatibus quo debitis minus doloremque labore unde, modi, quos perspiciatis, sit minima quod dicta eius veniam officiis. Magni, odio!</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptas earum necessitatibus quo debitis minus doloremque labore unde, modi, quos perspiciatis, sit minima quod dicta eius veniam officiis. Magni, odio!</p>
		</div>

	</div>
</div>
